@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  :root {
    background: gray;
    --main-color: hotpink;
    --pane-padding: 5px 42px;
  }
